# Python
__pycache__/
*.py[cod]
# Env
${VENV_DIR}/
# Logs
logs/
*.log
# Editor
.vscode/
.idea/
node_modules
.env
cache
artifacts
coverage.json
typechain-types
hardhat.config.js.bak
lib
out
cache-forge
foundry.toml
remappings.txt