[submodule "flashloan-arbitrage-sepolia/lib/openzeppelin-contracts"]
	path = flashloan-arbitrage-sepolia/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "flashloan-arbitrage-sepolia/lib/aave-v3-core"]
	path = flashloan-arbitrage-sepolia/lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
[submodule "flashloan-arbitrage-sepolia/lib/aave-v3-origin"]
	path = flashloan-arbitrage-sepolia/lib/aave-v3-origin
	url = https://github.com/aave/aave-v3-origin
[submodule "BUGHUNTING/SHERLOCK/sherlock-sherclaim-poc/lib/forge-std"]
	path = BUGHUNTING/SHERLOCK/sherlock-sherclaim-poc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "BUGHUNTING/SHERLOCK/sherlock-sherclaim-poc/lib/openzeppelin-contracts"]
	path = BUGHUNTING/SHERLOCK/sherlock-sherclaim-poc/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "RESONATE/lib/forge-std"]
	path = RESONATE/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "poc/lib/forge-std"]
	path = poc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "poc/poc/lib/forge-std"]
	path = poc/poc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "auco-foundry/lib/forge-std"]
	path = auco-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "auco-foundry/lib/openzeppelin-contracts"]
	path = auco-foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "auco-foundry/lib/aave-v3-core"]
	path = auco-foundry/lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
[submodule "oqia-protocol/lib/forge-std"]
	path = oqia-protocol/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
