# Python
__pycache__/
*.py[cod]
# Env
${VENV_DIR}/
# Logs
logs/
*.log
# Editor
.vscode/
.idea/
node_modules
.env
cache
artifacts
coverage.json
typechain-types
hardhat.config.js.bak
lib
out
cache-forge
foundry.toml
remappings.txt

# Untracked files to ignore
.ICEauthority
.Xauthority
.aider.chat.history.md
.aider.input.history
.aider.tags.cache.v4/
.aider/
.android/
.avm/
.aws/
.bash_history
.bashrc
.benefits/
.bitcoin/
.cache/
.cargo/
.claude.json
.claude.json.backup
.claude/
.codegpt/
.config/
.dbus/
.dcrd/
.docker/
.dotnet/
.electron/
.encore/
.ethereum/
.firebase/
.firebaserc
.fonts/
.foundry/
.gemini/
.git-credentials
.gitconfig
.gnupg/
.hex/
.ipfs/
.ipython/
.lesshst
.linuxmint/
.local/
.mix/
.mozilla/
.mythril/
.next/
.npm/
.nvm/
.oh-my-zsh/
.p10k.zsh
.pepetoshi/
.pki/
.plaiz/
.pokemonsay/
.profile
.rustup/
.secretd/
.seirchain/
.selected_editor
.shared-ringdb/
.shell.pre-oh-my-zsh
.sierchain/
.solana-tui/
.ssh/
.sudo_as_admin_successful
.venv/
.vnc/
.vscode-server-insiders/
.vscode-server/
.wget-hsts
.xsession-errors
.xsession-errors.old
.yarn/
.yarnrc
.z
.zcompdump
.zcompdump-amy-HP-15-Notebook-PC-5.9
.zcompdump-amy-HP-15-Notebook-PC-5.9.zwc
.zsh_history
.zshenv
.zshrc
.zshrc.pre-oh-my-zsh
oqia-protocol/.gitignore
oqia-protocol/.gitmodules
oqia-protocol/.openzeppelin/
oqia-protocol/README.md
oqia-protocol/WHITEPAPER.md
oqia-protocol/bot-config.json
oqia-protocol/cache_forge/
oqia-protocol/cache_hardhat/
oqia-protocol/controller.js
oqia-protocol/eslint.config.js
oqia-protocol/hardhat.config.js
oqia-protocol/mint-bot.js
oqia-protocol/node
oqia-protocol/npm
oqia-protocol/requirements.txt
oqia-protocol/test/OqiaBotFactory.test.js
venv/